@tailwind base;
@tailwind components;
@tailwind utilities;
//@import 'antd/dist/antd.css';
//@import "antd/dist/antd.variable.min.css";

:root {
  --color: rgba(125, 108, 226);
  --color-lighter: rgba(255, 255, 255, 0.2);
  --border-radius: 8px;
  --border-radius-small: 4px;
  --color-hover: rgba(125, 108, 226, 0.7);
  --color-shadow: rgba(125, 108, 226, 0.2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: initial;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #c6cbd0;
  border: 6px solid transparent;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-clip: content-box;
  background-color: #b0b4b9;
  border: 6px solid transparent;
  border-radius: 20px;
}

.app {
  &__header {

    &--logo {
      height: 42px !important;
      object-fit: contain;
      margin: auto;
    }
  }

  &__content {
    border-radius: var(--border-radius);
    margin: 8px;
    padding: 16px;
    background-color: #fff;
    max-height: calc(100vh - 80px);
    overflow: auto;
  }
}

.text {
  &__header {
    font-family: 'Open Sans', serif;
    font-size: x-large;
    font-weight: bold;
    color: white;
  }
}

.loading {
  animation: loadingAppear 0.1s;
}

@keyframes loadingAppear {
  from {
    top: -10px;
  }

  to {
    top: 0;
  }
}